.container{
	position: relative; 
}
.column{
	float:left; 
}
.center-warp{ 
      width: 100%; 
}
.center-warp .center{ 
      margin-left: 200px; 
      margin-right: 150px; 
      background: yellow; 
}
.left{
      width: 200px; 
      margin-left: -100%; 
      background-color: red; 
} 
.right{
	width:150px;
	margin-left: -150px;
      background: green; 
}
