body {
  margin: 0 auto;
  background: #EEE;
  text-align: center;
  font-family: calibri light, sans-serif;
  font-size: 40px;
  color: #00ADEF;
}

#perspective {
  perspective: 500px;
  margin-left: -50px;
}

#win-logo {
  background: transparent;
  margin: 0 auto;
  margin-top: 50px;
  width: 300px;
  height: 230px;
  line-height: 0;
  transform: rotateY(-30deg);
}

#left-top, #right-top, #left-bottom, #right-bottom {
  background: #00ADEF;
  width: 140px;
  height: 110px;
  display: inline-block;
}

#left-top, #right-top {
  margin-bottom: 5px;
}

#left-top, #left-bottom {
  margin-right: 5px;
}
.loader-align {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.loader {
  width: 50px;
  height: 50px;
  /*border: 1px solid black;*/

  div.a {
    position: absolute;
    left: 7%; top: 9%;
    width: 15%; height: 15%; /* Caution, the container must always have a square ratio */
    border-radius: 50%;
    
    background-color: black;
    
    animation: rotate 1.3s infinite cubic-bezier(0.7,0.3,0.3,0.7);
    transform: rotateZ(50deg); /* Starts from the middle */
    transform-origin: 275% 275%;
    &:nth-child(2){ animation-delay:0.17s; }
    &:nth-child(3){ animation-delay:0.34s; }
    &:nth-child(4){ animation-delay:0.51s; }
    &:nth-child(5){ animation-delay:0.68s; }
  }
}
@keyframes rotate {
    to { transform: rotateZ(410deg); } /* If it starts with 50deg, a complete turn ends with 410deg */
}
